@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-variation-settings: "opsz" 10;
    --base-font-family: "EBGaramond";

    --background: 174 46% 98%;
    --foreground: 174 51% 1%;
    --muted: 354 19% 91%;
    --muted-foreground: 354 9% 39%;
    --popover: 174 46% 98%;
    --popover-foreground: 174 51% 1%;
    --card: 174 46% 98%;
    --card-foreground: 174 51% 1%;
    --border: 174 7% 89%;
    --input: 174 7% 89%;
    --primary: 174 100% 42%;
    --primary-foreground: 174 100% 2%;
    --secondary: 273.41 100% 63.73%;
    --secondary-foreground: 0 0% 100%;
    --accent: 273.41 100% 63.73%;
    --accent-foreground: 0 0% 100%;
    --destructive: 5 87% 32%;
    --destructive-foreground: 5 87% 92%;
    --ring: 174 100% 42%;
    --chart-1: 174 100% 42%;
    --chart-2: 354 100% 42%;
    --chart-3: 354 100% 42%;
    --chart-4: 354 100% 45%;
    --chart-5: 174 103% 42%;
    --radius: 0.5rem;
  }

  :root.dark {
    --background: 174 36% 4%;
    --foreground: 174 39% 98%;
    --muted: 354 19% 9%;
    --muted-foreground: 354 9% 61%;
    --popover: 174 36% 4%;
    --popover-foreground: 174 39% 98%;
    --card: 174 36% 4%;
    --card-foreground: 174 39% 98%;
    --border: 174 7% 15%;
    --input: 174 7% 15%;
    --primary: 174 100% 42%;
    --primary-foreground: 174 100% 2%;
    --secondary: 273.41 100% 63.73%;
    --secondary-foreground: 0 0% 100%;
    --accent: 273.41 100% 63.73%;
    --accent-foreground: 0 0% 100%;
    --destructive: 5 87% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 174 100% 42%;
    --chart-1: 174 100% 42%;
    --chart-2: 354 100% 42%;
    --chart-3: 354 100% 42%;
    --chart-4: 354 100% 45%;
    --chart-5: 174 103% 42%;
  }
}  

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.var-font-soft {
  font-variation-settings: "SOFT" 100;
}

@supports not selector(::-webkit-scrollbar) {
  scrollbar-color: rgba(0, 0, 0, 0.8) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: darkslategray;
  outline: 1px solid slategrey;
  border-radius: 99px;
}
::webkit-scrollbar-thumb:hover {
  background-color: slategray;
}
